.ten-b button {
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 22px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.ten-b .request {
  background-color: black;
  color: white;
  margin-right: 20px;
}

.ten-b .schedule {
  background-color: rgb(230,230,230);
  color: black;
}